.copyright {
  color: #564d4d;
  font-size: 0.938rem;
}

.footerIcons {
  display: flex;
  gap: 0.938rem;
  color: #fff;
  font-size: 2.188rem;
}

@media (max-width: 33.25rem) {
  .copyright {
    font-size: 0.805rem;
  }

  .footerIcons {
    font-size: 1.878rem;
  }
}
