.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchBar {
  justify-self: center;
}

@media (max-width: 48rem) {
  .header {
    display: grid;
  }
  .iconsContainer {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
