@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.modal {
  position: fixed;
  background-color: #000000;
  height: 25.625rem;
  width: 50rem;
  display: block;
  z-index: 2;
  padding: 0rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Mulish", sans-serif;
  color: #fff;
  gap: 0.938rem;
}

.imageContainer {
  height: 25.25rem;
  width: 18.75rem;
  background-size: 100%;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.875rem;
}

.descriptionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  width: 31.25rem;
  height: 25.25rem;
  gap: 0.313rem;
  position: relative;
  overflow-y: scroll;
}

.buttonClose {
  position: absolute;
  right: 0rem;
  top: 0rem;
  border: none;
  padding: 0.5rem;
  background-color: #fff;
  font-size: 1.25rem;
  color: #000000;
  cursor: pointer;
}

.titleContainer {
  grid-column-start: span 2;
  align-items: center;
  gap: 0.625rem;
  display: flex;
  margin-top: 0.438rem;
}

.buttonFavorite {
  height: 1.875rem;
  color: #fff;
  z-index: 1;
  font-size: 1.875rem;
  background-color: transparent;
  border: none;
  padding: 0rem;
  cursor: pointer;
}

.buttonFavorite:hover {
  font-size: 2.188rem;
}

.descriptionContainer::-webkit-scrollbar {
  width: 0.125rem;
  background: #000000;
}

.descriptionContainer::-webkit-scrollbar-thumb {
  background: #fff;
}
