.resultsList {
  margin-bottom: 60px;
  display: grid;
  gap: 15px 2px;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
}

.fallback {
  color: #564d4d;
  font-size: 20px;
  text-align: center;
  margin: auto;
}
