.resultsList {
  margin-bottom: 3.75rem;
  display: grid;
  gap: 0.938rem 0.125rem;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
}

.fallback {
  color: #564d4d;
  font-size: 1.25rem;
  text-align: center;
  margin: auto;
}

.loading {
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
}

@media (max-width: 76.5rem) {
  .resultsList {
    grid-template-columns: repeat(5, 1fr);
    gap: 0.3rem 0.5rem;
  }
}

@media (max-width: 51.5rem) {
  .resultsList {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.3rem 0.5rem;
  }
}
