@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.title {
  color: #fff;
  font-family: "Mulish", sans-serif;
  font-size: 1.25rem;
}

.posterList {
  display: flex;
  position: relative;
  gap: 0.75rem;
  margin-bottom: 3.75rem;
}

.arrowLeft {
  color: #fff;
  font-size: 5rem;
  position: absolute;
  left: 0rem;
  top: 4.688rem;
}

.arrowRight {
  color: #fff;
  font-size: 5rem;
  position: absolute;
  right: 0rem;
  top: 4.688rem;
}
