.iconsList li {
  color: #fff;
  font-size: 1.875rem;
  cursor: pointer;
}

.iconsList {
  display: flex;
  list-style: none;
  gap: 1.25rem;
}

@media (max-width: 48rem) {
  .iconsList {
    justify-content: center;
  }
}
