@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.list {
  display: flex;
  gap: 1.25rem;
  list-style: none;
  color: #fff;
  font-family: "Mulish", sans-serif;
  font-size: 0.813rem;
}

.logo {
  color: #e50914;
  font-size: 1.875rem;
  font-weight: 400;
  cursor: pointer;
}

.navigation {
  display: flex;
  align-items: center;
  cursor: pointer;
}

@media (max-width: 75rem) {
  .list {
    font-size: 0.71rem;
  }

  .logo {
    font-size: 1.6rem;
  }
}

@media (max-width: 48rem) {
  .navigation {
    grid-column-start: 1;
    grid-column-end: 4;
    justify-content: space-between;
  }
  .list {
    font-size: 0.813rem;
  }

  .logo {
    font-size: 1.875rem;
  }
}
