@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.list {
  display: flex;
  gap: 1.25rem;
  list-style: none;
  color: #fff;
  font-family: "Mulish", sans-serif;
  font-size: 0.813rem;
}

.logo {
  color: #e50914;
  font-size: 1.875rem;
  font-weight: 400;
  cursor: pointer;
}

.navigation {
  display: flex;
  align-items: center;
  cursor: pointer;
}
