@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.list {
  display: flex;
  gap: 20px;
  list-style: none;
  color: #fff;
  font-family: "Mulish", sans-serif;
  font-size: 13px;
}

.logo {
  color: #e50914;
  font-size: 30px;
  font-weight: 400;
}

.navigation {
  display: flex;
  align-items: center;
}
