.container {
  opacity: 0.7;
  cursor: pointer;
  transition: transform 1s;
  position: relative;
}

img {
  width: 9.0625rem;
}

.container:hover img {
  transform: scale(1.1) translate(0rem);
  transition: transform 0.5s;
}

.button {
  height: 1.875rem;
  color: #fff;
  z-index: 1;
  font-size: 1.875rem;
  position: absolute;
  top: 0rem;
  left: 0rem;
  background-color: transparent;
  border: none;
  padding: 0rem;
  cursor: pointer;
}

.button:hover {
  font-size: 2.188rem;
}

@media (max-width: 42.5rem) {
  img {
    width: 8rem;
  }
}

@media (max-width: 33.25rem) {
  img {
    width: 7rem;
  }
}

@media (max-width: 25.75rem) {
  img {
    width: 5rem;
  }
}
