@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.input {
  width: 37.5rem;
  height: 3.125rem;
  padding: 0.625rem;
  border-radius: 0;
  background-color: #000000;
  outline: none;
  color: #fff;
  font-family: "Mulish", sans-serif;
  animation: searchBar 1s;
}

.input:focus {
  border: 0.125rem solid #fff;
}
@keyframes searchBar {
  0% {
    transform: translate(7.5rem);
  }

  100% {
    transform: translate(0, 0);
  }
}

@media (max-width: 75rem) {
  .input {
    width: 20rem;
  }
}

@media (max-width: 53.75rem) {
  .input {
    width: 13rem;
  }
}

@media (max-width: 48rem) {
  .input {
    width: 18rem;
  }
}

@media (max-width: 33rem) {
  .input {
    width: 13rem;
  }
}
