* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  margin: auto 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  position: relative;
  overflow-x: hidden !important;
}

main {
  height: 1400px;
  width: 100hv;
}
